@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Yusei Magic", sans-serif;
}

body {
  @apply bg-gray-100 min-h-screen h-auto;
}
.favIcon path {
  stroke: #fefefe;
}
.nextIcon,
.prevIcon,
.settingsIcon,
.notificationsIcon path {
  color: #995699;
}

main {
  @apply max-w-[360px] ml-auto mr-auto pb-[20px] pl-[20px] pr-[20px];
}

.like-button {
  @apply bg-gradient-to-r from-purple-400 to-pink-400 p-4 rounded-full hover:scale-110 duration-300 hover:bg-gradient-to-l;
}

.prev-button,
.next-button {
  @apply hover:-translate-x-2 duration-300 p-3 rounded-full bg-gradient-to-r from-[#f3e6e8] to-[#d5d0e5];
}

.notifications-button {
  @apply p-2 rounded-full hover:scale-110 duration-200 bg-gradient-to-r from-[#f3e6e8] to-[#d5d0e5];
}
.remove-button {
  @apply p-1 hover:scale-110 duration-300 m-auto mt-2 flex rounded-md bg-gradient-to-r from-purple-300 to-pink-300;
}
.refresh-button {
  @apply p-3 hover:scale-110 duration-300 mt-3 flex rounded-md items-start bg-gradient-to-r from-purple-300 to-pink-300;
}
